@use "sass-svg-uri" as svg-uri;

input.toolshed-autocomplete {
  background-image: svg-uri.encode('<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="6" stroke="#bbb" stroke-width="2" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: center right 4px;

  &.is-autocompleting {
    background-image: svg-uri.encode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 16 16" height="16" width="16"><style>@keyframes autocompleting { 0% {transform:rotate(0deg) translate(-50%,0)} 50%{transform:rotate(430deg) translate(-50%,0);stroke-dashoffset:20} to {transform:rotate(720deg) translate(-50%,0)}}</style><circle fill="none" cy="8" cx="8" r="6" stroke="#003ecc" stroke-width="2" stroke-dashoffset="6.125" stroke-dasharray="25" style="animation:autocompleting 1.5s linear infinite;transform-origin:left"/></svg>');
  }
}

.autocomplete__options-pane {
  position: absolute;
  background: #fff;
  border: #ccc 1px solid;
  border-top: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 99;

  .autocomplete__caption {
    font-weight: bold;
    margin: 0.5em 1em;
  }

  .autocomplete__empty-msg {
    font-weight: bold;
    color: #666;
    margin: 0.5em 1em;
    text-transform: uppercase;
  }

  .autocomplete__options {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;

    // Nested autocomplete options.
    .autocomplete__options {
      margin-left: 1em;
    }
  }

  .autocomplete__opt {
    display: block;
    padding: 0.25em 1em;
  }

  .autocomplete__opt:hover,
  .autocomplete__opt--active {
    background: #38f;
    color: #fff;
  }
}
