.ts-pane {
  position: absolute;
  background: #fff;
  max-width: 100%;
  width: 320px;
  height: 400px;
  z-index: 10;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 1px #aaa;
}
