.ts-tooltip {
  position: relative;
}

.ts-tooltip__content {
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  max-width: 100%;
  width: 400px;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 1px #ccc;
  z-index: 15;

  &::before {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    width: 0;
    top: -8px;
    bottom: auto;
    left: 25%;
    border-width: 0 16px 8px;
    border-color: #ccc transparent;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    width: 0;
    top:-7px;
    bottom: auto;
    left: 25%;
    border-width: 0 16px 8px;
    border-color: #fff transparent;
  }
}
