
// ===========================
// Layers - z-index for different components.
// ===========================
$layer-z-dialog: 1000;
$layer-z-docking: $layer-z-dialog + 10;
$layer-z-popups: 100;
$layer-z-overlay: 10;
