{#
/**
 * @file
 * Default theme implementation of a HTML Button element.
 *
 * Available variables:
 * - attributes: The HTML element attributes to apply to the button.
 * - element: The button Form API element definition.
 * - children: The inner form and render elements (render array).
 *
 * @see template_preprocess_html_button()
 *
 * @ingroup themeable
 */
#}
<button{{ attributes }}>
  {{ children }}
</button>
