{#
/**
 * @file
 * Default theme implementation of the Toolshed search filter form.
 *
 * Available variables:
 * - form: A render element representing the form.
 * -- filters: Form API elements to render the views filters.
 * -- actions: Form API elements to render the form actions.
 *
 * @see template_preprocess_toolshed_search_filter_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  {{ form.filters }}
  {{ form.actions }}
</form>
